
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<h3>Logado no sistema Expenses</h3>

<h4>Usuário logado - @Session["usuarioLogadoID"]</h4>

<h4>Nome Usuário - @Session["nomeUsuarioLogado"]</h4>

<h4>Email - @Session["emailUsuarioLogado"]</h4>